.background {
    height: 100vh;
    width: 100vw;
    font-family: Mulish;
    font-style: normal;
}
#title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}
#upload {
    text-align: center;
}
.inventory {
    display: flex;
    width: 80%;
    height: 15%;
    margin-left: 10%;
}
.box {
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    display: flex;
    width: 20%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}
.text {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
}
#analytics {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
}
#analytics tr:nth-child(even){background-color: #f2f2f2;}
#analytics tr:hover {background-color: #ddd;}
#analytics th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #303a61;
    color: white;
  }